%h3 EVENTS

= link_to "Add an Event", new_event_path

%br
%br

- if @events.size > 0
  %table
    %thead
      %tr
        %th EVENT NAME
        %th Actions
    %tbody
      - @events.each do |event|
        %tr
          %td
            = link_to "#{event.event_name}", event_path(event)
          %td
            = link_to "Reserve Seats", new_event_guest_path(event)
            = link_to "Attending Guests", event_guests_path(event)
            = link_to "Cancel Event", event_path(event), :method => :delete, data: { confirm: 'Are you sure you want to cancel '+event.event_name+' event?' }
