%h2 Create New Event

= simple_form_for @event do |event|
  = event.input :event_name
  = event.input :num_of_tables, collection: 2..30
  = event.input :max_seats, collection: 2..8
  = event.button :submit, :method => :create

= link_to 'Back', events_path
