%h2
  = "Event: #{@event.event_name}"

%h3 List of Tables:
%table
  %thead
    %tr
      %th Table_Name
      %th Max_Seats
      %th Occupied
      %th Available
  %tbody
  - @event.tables.each do |table|
    %tr
      %td
        = table.table_number
      %td
        = table.max_seats
      %td
        = table.seats.where(:occupied => true).count
      %td
        = table.seats.where(:occupied => false).count

%br
%br
= link_to 'Edit Event', edit_event_path(@event)
%br
%br
= link_to 'Back to Events', events_path
